
<% layout('/layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">
        New Campground
    </h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title"> Title </label>
                <input class="form-control" type="text" id="title" required
                name="campground[title]">
                <div class="valid-feedback">
                    Looks goods!
                </div>
            </div>
        
            <div class="mb-3">
                <label class="form-label" for="location"> Location </label>
                <input class="form-control" type="text" id="location" required
                name="campground[location]">
                <div class="valid-feedback">
                    Looks goods!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image"> Image Url </label>
                <input class="form-control" type="text" id="image" required
                name="campground[image]">
                <div class="valid-feedback">
                    Looks goods!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price"> Campground Price </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="price-label">$</span>
                    </div>
                    <input id="price" type="text" class="form-control" placeholder="0.00" 
                    aria-label="Username" aria-describedby="price-label" required
                        name="campground[price]">
                    <div class="valid-feedback">
                        Looks goods!
                    </div>
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="description"> Title </label>
                <textarea class="form-control" type="text" id="description" required
                ame="campground[description]"></textarea> 
                <div class="valid-feedback">
                    Looks goods!
                </div>
            </div>

            <div class="mt-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
         
    </div>
</div>

